.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input:disabled {
  background: #FCFCFC;
}


.contact {
  width: 240px;
}
