.leftSideBarWrap {
  position: relative;
  width: 295px;
}

.leftSideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 295px;
  padding: 45px 0 68px 0;
  height: 100%;
  background-color: white;
  font-family: "Inter", serif;
  border-right: 1px solid #F0F0F0;
  min-height: 100vh;
  z-index: 999;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logoAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  pointer-events: none;
}

.title {
  font-family: "Gotham Pro", serif;
  font-weight: 400;
  font-size: 20px;
  color: #565656;
}

.menu > hr {
  width: 205px;
  border: 1px solid #ECECEC;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.navBar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #646464;
}

.logOut {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.decor {
  pointer-events: none;
}

.logOutButton {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}