.itemWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  gap: 35px
}

.messengersTrue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px
}

.messengersFalse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px
}

.notation {
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  margin-top: 5px;
  color: #979797;
}

.inputMessenger {
  width: 190px;
}

.addMessenger {
  font-size: 15px;
  color: #000000;
  cursor: pointer;
}