.contentBlock {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formItem {
  display: flex;
  align-items: center;
  gap: 23px
}

.zoomItem {
  display: flex;
  align-items: center;
  gap: 12px
}

.inputCoordinate {
  width: 215px;
}

.inputZoom {
  width: 50px;
}

.notation {
  margin-top: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
}

.notation a {
  font-style: normal;
  color: #43A8EE;
}

.buttonWrap {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.addButton {
  width: 265px;
  background: #77D77B;
}

.deleteButton {
  width: 265px;
  background: #E24A4A;
}