.timePicker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
  padding: 20px;
  text-align: center;
}

.timeCards {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  justify-content: center;
  gap: 30px;
}

.timeCard {
  height: 60px;
  width: 100px;
  position: relative;
  padding: 15px;
  background: #E1E1E1;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.timeCard:hover {
  color: #0A9AFF;
  transition: color 0.5s ease-in-out;
}

.timeCard:hover > .cardSide {
  background-color: #0A9AFF;
  transition: background-color 0.5s ease-in-out;
}

.timeCardActive {
  background: #0A9AFF;
}

.timeCardActive:hover {
  color: white;
}

.timeCardActive:hover > .cardSide {
  background: white;
}

.cardSide {
  position: absolute;
  width: 70px;
  height: 3px;
  border-radius: 20px;
  background: #FAFAFA;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.5s ease-in-out;;
}

.timePickerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.timePickerButton {
  background: linear-gradient(180deg, #0A9AFF 0%, #17B8F0 100%);
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: none;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: white;
  width: 250px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}