.timePicker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
  padding: 20px;
  text-align: center;
}

.timeCards {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  justify-content: center;
  gap: 30px;
}

.timePickerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.timePickerButton {
  background: linear-gradient(180deg, #0A9AFF 0%, #17B8F0 100%);
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: none;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: white;
  width: 250px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}