.wrapPrivacy {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

.titlePrivacy {
  text-align: center;
  font-size: 42px;
}

.contentPrivacy {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  text-align: justify;
  line-height: 1.45;
}