.contentBlock {
  display: flex;
  flex-direction: column;
  gap: 78px;
}

.contacts {
  display: flex;
  gap: 55px;
}

.contact {
  width: 240px;
}

.deleteButton {
  height: 27px;
  width: 105px;
  background: #E24A4A;
  border-radius: 10px;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #FAFAFA;
  border: none;
}

.serviceFieldFormItem {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 19px;
  cursor: pointer;
}