.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(0deg, rgb(242 242 242) 18%, rgb(255 255 255));
  background: -moz-linear-gradient(0deg, rgb(242 242 242) 18%, rgb(255 255 255));
  background: linear-gradient(0deg, rgb(242 242 242) 18%, rgb(255 255 255));
}

.loginFormWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 440px;
  flex-direction: column;
  font-family: "Gotham Pro", serif;
  gap: 30px;
  border-radius: 10px;
  padding: 40px;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.formItem {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.formItemDefault {
  width: 400px;
  display: flex;
  flex-direction: column;
  transform: translateY(-15px);
  transition: 0.2s transform ease-in-out, 0.2s opacity ease-in-out;
  opacity: 0;
}

.formItemActive {
  transform: translateY(0);
  opacity: 1;
}

.title {
  font-size: 30px;
  color: #424242;
  text-transform: uppercase;
}

.label {
  position: relative;
  font-size: 14px;
}

.alert {
  position: absolute;
  top: -20px;
  color: #c73030;
}

.alertBottom {
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  color: #c73030;
}

.labelIcon {
  position: absolute;
  opacity: 0.6;
  top: 13px;
  left: 10px;
  pointer-events: none;
}

.vision {
  position: absolute;
  opacity: 0.6;
  top: 13px;
  right: 20px;
}

::-ms-reveal {
  display: none;
}

.input {
  height: 50px;
  width: 400px;
  padding: 10px 40px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  font-family: 'Gotham Pro', serif;
  font-weight: 400;
  font-size: 18px;
  outline: none;
}

.inputPassword {
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.inputLogin {
  border-radius: 10px 10px 0 0;
}

.inputLoginDefault {
  border-radius: 10px;
}

.button {
  background: #2d66bd;
  padding: 15px 0;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-family: "Gotham Pro", serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.logoCorp {
  width: 231px;
  pointer-events: none;
}