.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c6c6;
}

.loginFormWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 440px;
  flex-direction: column;
  font-family: "Gotham Pro", serif;
  gap: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.formItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 30px;
  color: #424242;
  text-transform: uppercase;
}

.label {
  color: #424242;
  font-size: 20px;
  text-transform: uppercase;
}

.input {
  height: 50px;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px 15px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  font-family: 'Gotham Pro', serif;
  font-weight: 400;
  font-size: 18px;
  outline: none;
}

.button {
  background: #43A8EE;
  padding: 15px 0;
  border-radius: 10px;
  border: none;
  width: 250px;
  font-family: "Gotham Pro", serif;
  font-weight: 700;
  font-size: 25px;
  color: #FAFAFA;
  cursor: pointer;
}

.alert {
  color: #df1f1f;
  font-size: 14px;
}