.label {
  font-weight: 400;
  font-size: 15px;
}

.input {
  height: 34px;
  padding: 10px 10px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.input:disabled {
  background: #FCFCFC;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 14px
}

.textAreaWrap {
  display: flex;
  align-items: flex-start;
  gap: 14px
}

.changeButton {
  height: 27px;
  width: 105px;
  background: #43A8EE;
  border-radius: 10px;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #FAFAFA;
  border: none;
  cursor: pointer;
}

.saveButton {
  background: #77D77B;
}

.cancelButton {
  background: #E24A4A;
}

.deleteButton {
  background: #E24A4A;
}