.loaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fullHeight {
  height: 100vh;
}

.loader {
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

.small {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
}

.medium {
  width: 80px;
  height: 80px;
  border: 8px solid #FFF;
}

.big {
  width: 120px;
  height: 120px;
  border: 12px solid #FFF;
}

.defaultLoader {
  border-bottom-color: #982828;
}

.adminLoader {
  border-bottom-color: #2d66bd;
}

.clientLoader {
  border-bottom-color: #17B8F0;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}