.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-bottom: 50px;
}

.buttonWrap {
  display: flex;
  gap: 15px;
}

.addButton {
  font-size: 13px;
  background: #77D77B;
  color: #FAFAFA;
  width: 154px;
  cursor: pointer;
}

.addButtonDisabled {
  opacity: 0.5;
  cursor: default;
}

.deleteButton {
  font-size: 13px;
  background: #E24A4A;
  color: #FAFAFA;
  width: 154px;
  cursor: pointer;
}

.deleteButtonDisabled {
  opacity: 0.5;
  cursor: default;
}
