.contentWrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttonWrap {
  display: flex;
  gap: 15px;
}

.addButton {
  background: #77D77B;
  width: 154px;
}

.deleteButton {
  background: #E24A4A;
  width: 154px;
}