.list {
    display: flex;
    flex-direction: column;
    width: 580px;
    gap: 12px;
}

.row {
    display: flex;
    justify-content: start;
    gap: 29px;
}

.button {
    margin: 38px 0 12px 0;
    color: #FFFFFF;
    font-family: "Gotham Pro", serif;
    font-weight: 400;
    font-size: 18px;
    padding: 17px 7px;
    background-color: #43A8EE;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.notification {
    color: #77D77B;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 13px;
}