.addFieldFormItem {
  display: flex;
  gap: 7px;
  margin-top: 19px;
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 30px;
  font-weight: 400;
  font-size: 13px;
  border-radius: 10px;
  color: #FAFAFA;
}