.modal {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalActive {
  opacity: 1;
  width: 100vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Inter", serif;
}

.modalActiveContentResponse {
  width: 300px;
  height: 100px;
  background-color: white;
  position: fixed;
  bottom: 10px;
  left: -30px;
  z-index: 998;
  transition: transform 1.5s;
  box-shadow: 0 0 10px black;
}

.modalActiveContentResponseOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  padding: 10px 0 0 0;
  background: #FFFFFF;
  border-top: 0;
  border-right: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-bottom: 0;
  border-radius: 0 0 6px 6px;
  transition: 0.2s;
  transform: translate3d(335px, 0, 0);
}

.modalActiveContentClose {
  transition: 1s;
  transform: translate3d(335px, -335px, 0);
}

.modalMessageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.modalLoader {
  display: block;
  position: relative;
  margin: auto;
  height: 5px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  background: #E7E7E7;
  overflow: hidden;
}

.modalLoader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #43A8EE;
  animation: 6350ms progress ease-in infinite;
}

@keyframes progress {
  to {
    width: 100%;
  }
}
