@import "fonts.css";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", serif;
  background-color: #FAFAFA;
  position: relative;
}

.container {
  margin: auto;
  width: 1080px;
  padding-left: 67px;
  padding-right: 67px;
  height: 100%;
}

.rootBackground {
  width: 1080px;
  margin: auto;
}

.adminContentBackground {
  padding: 45px 0 0 70px;
}

.adminMainTitle {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 42px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #17B8F0;
  border-radius: 50%;
  display: table;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}