@import "fonts.css";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", "Inter", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #FAFAFA;
  position: relative;
}

.container {
  margin: auto;
  width: 1080px;
  padding-left: 67px;
  padding-right: 67px;
  height: 100%;
  position: relative;
}

.rootBackground {
  width: 1080px;
  margin: auto;
}

.adminContentBackground {
  padding: 45px 0 0 70px;
}

.adminMainTitle {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 42px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}